/*
Author: Carolyn Ott 
Date: 2025-09-13
*/

ol {
    list-style-type: decimal;
}


body {
    background-color: beige;
}

h1 {
    color:darkgreen; font-size: 40px;
    background-color: greenyellow;
}

h2 {
    color:blueviolet; font-size: 40px;
    background-color: pink;
}

p {
    color:chocolate
}

ul {
    list-style-type:square;
}

a:active {
    color:deeppink
}
a:visited {
    color:white
}
a:hover {
    color:darkred
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none; /* entfernt die Unterstreichung */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
}

